<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Login Page</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col-4">
                <div class="card shadow">
                    <div class="card-body">
                      <form >
                        <div class="mb-3">
                          <h4 class="text-dark text-muted">Login</h4>
                        </div>



                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control"  name="email"  placeholder="Enter your email" required [(ngModel)]="email">
                          <div class="invalid-feedback">
                            Email is required
                          </div>
                        </div>


                        <div class="row mb-3">
                          <div class="col">
                            <a routerLink="/login" class="register" style="color: blue;">Login</a>
                          </div>
                          <div class="col">
                            <a routerLink="/register" class="forgot-password" style="color: red;">Register</a>
                          </div>
                        </div>

                        <button type="submit" class="btn btn-primary" (click)="forgotPassword()">Rest</button>

                        <div class="alert alert-danger mt-3" style="display:none;">Invalid email</div>
                      </form>

                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>
