<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a href="https://example.com/dashboard" mat-list-item>
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a href="https://example.com/settings" mat-list-item>
        <mat-icon>settings</mat-icon>
        Settings
      </a>
      <a href="https://example.com/clients" mat-list-item>
        <mat-icon>group</mat-icon>
        Clients
      </a>
      <!-- Add more links with icons here -->
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header">
      <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isSmallScreen">
        <mat-icon>menu</mat-icon>
      </button>
      <h3 class="logo">Ort Braude</h3>
      <span class="spacer" *ngIf="!isSmallScreen"></span>
      <ng-container *ngIf="!isSmallScreen">
        <a [routerLink]="[ '/courses' ]" routerLinkActive="active" mat-button>
          <mat-icon>menu_book</mat-icon>
            My Courses
          </a>

          <a [routerLink]="[ '/register course' ]" routerLinkActive="active" mat-button>
            <mat-icon>menu_book</mat-icon>
              Register Courses
            </a>


        <a href="https://example.com/settings" mat-button>
          <mat-icon>cloud</mat-icon>
          Assignments
        </a>
        <a href="https://example.com/clients" mat-button>
          <mat-icon>add</mat-icon>
          Add Course
        </a>
        <!-- Add more links with icons here -->
      </ng-container>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="notificationsMenu">
        <mat-icon>notifications</mat-icon>
      </button>
      <mat-menu #notificationsMenu="matMenu">
        <button mat-menu-item>Notification 1</button>
        <button mat-menu-item>Notification 2</button>
        <!-- Add more notifications here -->
      </mat-menu>
      <span class="account-username" style="font-size: 13px;">Welcome {{name | titlecase}}</span>
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item routerLink="/profile">Profile</button>
        <button mat-menu-item routerLink="/login" (click)="logoutUser()" >Logout</button>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
