<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="node_modules/bootstrap/dist/css/bootstrap.min.css"> <!-- Updated link -->
  <title>Bootstrap Example</title>
  <script src="node_modules/@popperjs/core/dist/umd/popper.min.js"></script> <!-- Added Popper.js -->
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script> <!-- Updated script -->
</head>

<body class="p-3 m-0 border-0 bd-example fade-in">
  <!-- Example Code -->
  <!-- This is the navigation bar. It is a bootstrap component that is styled with custom css. -->
  <nav class="navbar navbar-expand-lg" style="background-color: #1D1D1F; box-shadow: 0 6px 6px -6px #0E1119;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #F5F5F7; text-transform: uppercase;">Academy</a>
      <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed"
        [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="color: #F5F5F7; background-color: #F5F5F7;"></span>
      </button>
      <div class="collapse navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarSupportedContent">

        <!-- Navigation links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="color: white;">
            <a style="color: white;" class="nav-link" (click)="toggleComponent('My Courses')"
              [ngClass]="{'active-link': activeLink === 'My Courses'}">My Courses</a>
          </li>
          <li class="nav-item" style="color: white;">
            <a style="color: white;" class="nav-link" (click)="toggleComponent('Add Course')"
              [ngClass]="{'active-link': activeLink === 'Add Course'}">Add Course</a>
          </li>
          <li class="nav-item" style="color: white;">
            <a style="color: white;" class="nav-link" (click)="toggleComponent('Assignment')"
              [ngClass]="{'active-link': activeLink === 'Add Assignment'}">Assignment</a>
          </li>
        </ul>
        <!-- Profile -->

        <!-- Button trigger modal -->
        <div *ngFor="let user of userDetails">
          <img type="image" src="{{user.image}}" class="rounded-circle" data-bs-toggle="modal"
            data-bs-target="#exampleModal" style="max-width: 35px;">
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          data-bs-backdrop="false" style="background-color: #f5f5f774;">
          <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content" style="background-color: #1D1D1F; color: #F5F5F7;">
              <div class="modal-header"
                style="background-color: #1D1D1F; color: #F5F5F7; border-bottom: 1px solid #F5F5F7;">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Welcome {{name|titlecase}}</h1>
              </div>
              <div class="modal-body">
                <span class="badge text-bg-light" (click)="toggleComponent('Profile')"
                  [ngClass]="{'active-link': activeLink === 'Profile'}">Profile Settings</span>
                <br>
                <span class="badge text-bg-danger" (click)="logOut()">Logout</span>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn1" data-bs-dismiss="modal"
                  style="background-color: #F5F5F7; border: 1px solid #F5F5F7; color: #1D1D1F;">Close</button>
              </div>
            </div>
          </div>
        </div>





      </div>
    </div>
  </nav>
  <!-- This is the title of the page. It is styled with custom css. -->
  <!-- End Example Code -->
  <!-- This is the container for the component that we want to show.-->
  <ng-container *ngIf="showTeacherCourse">
    <div style="padding: 10px; font-weight: 700;"> {{pagename}}</div>
    <app-teacher-my-courses></app-teacher-my-courses>
  </ng-container>

  <ng-container *ngIf="showRegisterCourse">
    <div style="padding: 10px; font-weight: 700;"> {{pagename}}</div>
    <app-register-course></app-register-course>
  </ng-container>

  <ng-container *ngIf="showProfile">
    <div style="padding: 10px; font-weight: 700;"> {{pagename}}</div>
    <app-profile></app-profile>
  </ng-container>

  <ng-container *ngIf="showAssignment">
    <div style="padding: 10px; font-weight: 700;"> {{pagename}}</div>
    <app-assignments></app-assignments>
  </ng-container>

</body>

</html>
