<body class="firstBody">

  <div class="myGrid">

    <!--My Courses-->
    <div class="card">
      <a class="myTitle">Register for a courses :</a>
      <a id="myTitle">Register for a courses :</a>
      <div *ngFor="let course of courseList; let i=index">
        <div class="cardInsideCardInsideCard">
          <a class="myTitle">{{ course.name }}</a>
          <hr>
          <p><strong>Description:</strong> {{ course.description }}</p>
          <p><strong>Credits:</strong> {{ course.credits }}</p>
          <p><strong>Semester:</strong> {{ course.semester }}</p>
          <button class="myButton" (click)="register(course.id); showLiveToast()">Register</button>
        </div>
      </div>
    </div>
    <!--end-->



  </div>
</body>