<form (ngSubmit)="onSubmit()" class="form_container" #registerForm="ngForm">
  <img src="assets/logo.png" style="width: 120px" />
  <div class="title_container">
    <p class="title">Register</p>
    <span class="subtitle">Registering role is "Student" by default , to change role to teacher or
      else please contact the admin
    </span>
  </div>
  <div *ngIf="errorMessage" class="error_message" style="color: red">
    {{ errorMessage }}
  </div>
  <br />
  <div class="input_container">
    <label class="input_label" for="name">First name</label>
    <input placeholder="John" title="input title" name="firstname" type="text" class="input_field" id="name" required
      [(ngModel)]="user.firstname" />
  </div>


  <div class="input_container">
    <label class="input_label" for="name">Last name</label>
    <input placeholder="Doe" title="input title" name="lastname" type="text" class="input_field" id="name" required
      [(ngModel)]="user.lastname" />
  </div>


  <div class="input_container">
    <label class="input_label" for="major">Major</label>
    <select name="major" id="major" class="input_field" required [(ngModel)]="user.major">
      <option value="" disabled selected>Select your major</option>
      <option value="Computer Science">Computer Science</option>
      <option value="Biology">Biology</option>
      <option value="Engineering">Engineering</option>
      <option value="Psychology">Psychology</option>
      <option value="Art">Art</option>
    </select>
  </div>


  <div class="input_container">
    <label class="input_label" for="email">Email</label>
    <input placeholder="name@mail.com" title="input title" name="email" type="email" class="input_field" id="email"
      required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="user.email" #mail="ngModel" />

    <div *ngIf="mail.errors?.['pattern']">
      Wrong email format
      <div class="dropdown">
        <img class="passHelp"
          src="https://www.pngkit.com/png/detail/90-901653_exclamation-mark-png-exclamation-mark-icon-png.png"
          style="width: 15px;">
        <div class="dropdown-content">
          <li>Email format must be as follows :<u style="color:#a41d30 ;">name@mail.com</u></li>
        </div>
      </div>
    </div>





  </div>
  <div class="input_container">
    <label class="input_label" for="password">Password</label>
    <input placeholder="Password" title="input title" name="password" type="password" class="input_field" id="password"
      required minlength="8" [(ngModel)]="user.password" #name="ngModel" />
    <div *ngIf="name.errors?.['minlength']">
      Password must be at least 8 characters long.
      <div class="dropdown">
        <img class="passHelp"
          src="https://www.pngkit.com/png/detail/90-901653_exclamation-mark-png-exclamation-mark-icon-png.png"
          style="width: 15px;">
        <div class="dropdown-content">
          <li>Use at least on <u style="color:#a41d30 ;">Upper Case</u> letter</li>
          <li>Use at least on <u style="color:#a41d30 ;">Lower Case</u> letter</li>
          <li>Use at least on <u style="color:#a41d30 ;">Symbol Character</u>, Example:"! @ # $"</li>
          <li>Password length must be <u style="color:#a41d30 ;">8-14</u></li>
        </div>
      </div>
    </div>
  </div>
  <button style="height: 10%" title="submit" type="submit" class="button" [disabled]="!registerForm.form.valid">
    <span>Register</span>
  </button>
  <div class="separator">
    <hr class="line" />
    <span>Or</span>
    <hr class="line" />
  </div>
  <button title="Sign In" class="button" [routerLink]="['/login']" style="height: 10%">
    <span>Login</span>
  </button>

  <p class="note">Hogwarts University ©</p>
</form>
