<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    body {
        background-image: none;
    }
</style>
<a style="text-decoration: underline; font-weight: 700; font-size: 20px;">Income & Expenses :</a>

<body class="firstBody">

    <div class="firstHalf" style="background-color: #F0F3F9; border-radius: 1rem;">
        <div class="componentGrid">

            <!--DELETE INCOME-->
            <div class="myBody" style="background-color: #fff;padding: 10px;">
                <p class="myTitle">Monthly-income:</p>
                <table class="table1 table1-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of incomeForUser let i=index">
                            <td>{{ i }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
                            <td> <button (click)="deleteMonthlyIncomeOrExpense(item.id!)" type="button"
                                    class="btn btn-sm btn-danger" title="delete user"><i class="fa fa-trash"></i><svg
                                        width="21" height="20" viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_2_3)">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M7.35001 15.7143H9.45V8.09524H7.35001V15.7143ZM11.55 15.7143H13.65V8.09524H11.55V15.7143ZM5.25 17.619H15.75V6.19048H5.25V17.619ZM7.35001 4.28571H13.65V2.38095H7.35001V4.28571ZM15.75 4.28571V0.476191H5.25V4.28571H0V6.19048H3.15V19.5238H17.85V6.19048H21V4.28571H15.75Z"
                                                fill="black" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2_3">
                                                <rect width="21" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--END EXPENSE-->



            <!--DELETE EXPENSE-->
            <div class="myBody" style="background-color: #fff;padding: 10px;">
                <p class="myTitle">Monthly-expenses:</p>
                <table class="table2 table2-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of ExpensesForUser let i=index">
                            <td>{{ i }}</td>
                            <td>{{ item.category }}</td>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
                            <td> <button (click)="deleteMonthlyIncomeOrExpense(item.id!)" type="button"
                                    class="btn btn-sm btn-danger" title="delete user"><i class="fa fa-trash"></i><svg
                                        width="21" height="20" viewBox="0 0 21 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_2_3)">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M7.35001 15.7143H9.45V8.09524H7.35001V15.7143ZM11.55 15.7143H13.65V8.09524H11.55V15.7143ZM5.25 17.619H15.75V6.19048H5.25V17.619ZM7.35001 4.28571H13.65V2.38095H7.35001V4.28571ZM15.75 4.28571V0.476191H5.25V4.28571H0V6.19048H3.15V19.5238H17.85V6.19048H21V4.28571H15.75Z"
                                                fill="black" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_2_3">
                                                <rect width="21" height="20" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--END-->

        </div>
    </div>



    <div class="secondHalf" style="background-color: #F0F3F9; border-radius: 1rem; margin-left: 5px;">
        <div class="componentGrid">
            <div class="myBody">
                <a class="myTitleCard" style="color: #7AA3E5;">INCOME</a>
                <form (ngSubmit)="onSubmitIncome()" class="myForm" #incomeForm="ngForm"
                    style="background-color: #fff;background-color: #7AA3E5;">
                    <label class="myTitle">Amount :</label>
                    <input type="text" class="form-control" id="monthly income" required name="Monthly income"
                        [(ngModel)]="income.amount" maxlength="5" required>
                    <label>{{ income.amount| currency:'₪' }}</label>

                    <label class="myTitle">Category :</label>
                    <select required [(ngModel)]="income.category" name="category">
                        <option value="" disabled selected>Select category</option>
                        <option>Salary</option>
                        <option>Investment</option>
                        <option>Bonus</option>
                        <option>Side job</option>
                        <option>Gifts</option>
                        <option>Other</option>
                    </select>
                    <br>

                    <label class="myTitle">Description :</label>
                    <input type="text" required [(ngModel)]="income.description" name="description">

                    <br>

                    <label class="myTitle">Date :</label>
                    <input type="date" required [(ngModel)]="income.date" name="date">

                    <button [disabled]="!incomeForm.form.valid" type="submit">Save</button>
                </form>

            </div>




            <div class="myBody">
                <a class="myTitleCard" style="color: #A7385D;">EXPENSES</a>
                <form (ngSubmit)="onSubmitExpenses()" class="myForm" #expensesForm="ngForm"
                    style="background-color: #fff;background-color: #A7385D;">
                    <label class="myTitle">Amount :</label>
                    <input type="text" class="form-control" id="monthly income" required name="Monthly income"
                        [(ngModel)]="expenses.amount" maxlength="5" required>
                    <label>{{ expenses.amount| currency:'₪' }}</label>

                    <label class="myTitle">Category :</label>
                    <div class="dropdown-container">
                        <select id="dropdown1" [(ngModel)]="expenses.category" name="category">
                            <optgroup label="Food & Beverages">
                                <option selected>Food</option>
                                <option>Beverages</option>
                                <option>Groceries</option>
                            </optgroup>
                            <optgroup label="Transport">
                                <option selected>Fuel</option>
                                <option>Parking</option>
                                <option>Services & Maintance</option>
                                <option>Taxi</option>
                            </optgroup>
                            <optgroup label="Personal Development">
                                <option selected>Busniess</option>
                                <option>Education</option>
                                <option>Investment</option>
                            </optgroup>
                            <optgroup label="Shopping">
                                <option selected>Clothes</option>
                                <option>Accessories</option>
                                <option>Electronic Devices</option>
                            </optgroup>
                            <optgroup label="Entertainment">
                                <option selected>Movies</option>
                                <option>Games</option>
                                <option>Music</option>
                                <option>Travel</option>
                            </optgroup>
                            <optgroup label="Home">
                                <option selected>Pets</option>
                                <option>Furnishings</option>
                                <option>Home Services</option>
                                <option>Mortgage & Rent</option>
                            </optgroup>
                            <optgroup label="Utility Bills">
                                <option selected>Electricity</option>
                                <option>Internet</option>
                                <option>Mobile Phone</option>
                                <option>Water</option>
                            </optgroup>
                            <optgroup label="Health">
                                <option selected>Sports</option>
                                <option>Health Insurance</option>
                                <option>Doctor</option>
                                <option>Medicine</option>
                            </optgroup>
                            <optgroup label="Gifts & Donations">
                                <option selected>Gifts</option>
                                <option>Wedding</option>
                                <option>Funeral</option>
                                <option>Charity</option>
                            </optgroup>
                            <optgroup label="Kids">
                                <option selected>Pocket Money</option>
                                <option>Baby Products</option>
                                <option>Babysitter & Daycare</option>
                                <option>Tuittion</option>
                            </optgroup>
                            <optgroup label="Other">
                                <option selected>Other</option>
                            </optgroup>
                        </select>
                    </div>
                    <br>

                    <label class="myTitle">Description :</label>
                    <input type="text" required [(ngModel)]="expenses.description" name="description">
                    <br>

                    <label class="myTitle">Date :</label>
                    <input type="date" required [(ngModel)]="expenses.date" name="date">

                    <button [disabled]="!expensesForm.form.valid" type="submit">Save</button>
                </form>
            </div>

        </div>
    </div>

</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>