<body class="firstBody">

  <div class="myGrid">

    <!--My Courses-->
    <div class="card">
      <a class="myTitle">My Courses :</a>

      <div *ngFor="let course of courseList; let i=index">
        <div class="cardInsideCardInsideCard">
          <a class="myTitle">{{ course.name }}</a>
          <hr>
          <p><strong>Description:</strong> {{ course.description }}</p>
          <p><strong>Credits:</strong> {{ course.credits }}</p>
          <p><strong>Semester:</strong> {{ course.semester }}</p>
        </div>
      </div>
    </div>
  </div>
  <!--end-->

  <!--Courses Material-->
  <div class="card">
    <div class="cardInsideCard">
      <a class="myTitle">Courses Material:</a>
      <div *ngFor="let course of courseMaterial; let i=index">
        <div class="cardInsideCardInsideCard">
          <a class="myTitle">{{ course.materialCourseName }}</a>
          <hr>
          <p><strong>Description:</strong> {{
            course.materialCourseDescription }}</p>
          <a (click)="openWebPage(course.materialCourseLink)"><button class="myButton">Link</button></a>
        </div>
      </div>
    </div>
    <!--end-->

  </div>
</body>