<header class="myHeader" style="z-index: 1000;">
    <ul>

        <li>
            <a style="margin-left: 5px;" (click)="toggleComponent('add')">Add</a>
        </li>

        <li>
            <a style="margin-left: 10px; " (click)="toggleComponent('analysis')">Analysis</a>
        </li>

    </ul>
</header>


<div *ngIf="this.showAddComponent">
    <app-financial-add></app-financial-add>
</div>
<div *ngIf="this.showAnalysisComponent">
    <app-financial-analysis></app-financial-analysis>
</div>