@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url('https://fonts.cdnfonts.com/css/ibm-plex-mono-3');

body {
  font-family: 'IBM Plex Mono Medium', sans-serif;
}

body {
  font-family: 'IBM Plex Mono Medium', sans-serif;
  color: #A7A1AE;
  background-image: url(https://www.assessteam.com/wp-content/uploads/2019/12/A-Performance-Management-Guide-to-Successful-Employee-Management.jpg);
  background-repeat: no-repeat;
}

.blue {
  color: red;
}

.yellow {
  color: #FFF842;
}

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: white;

}

.container td {
  font-weight: normal;
  font-size: 1em;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td,
.container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
  border: 1px solid black;

}

.container tr:nth-child(odd) {
  background-color: white;
  border: 1px solid black;
}

.container tr:nth-child(even) {
  background-color: rgb(191, 191, 191);
  border: 1px solid black;
}

.container th {
  background-color: #A41D30;
  border: 1px solid black;

}

.container td:first-child {
  color: #A41D30;
}

.container tr:hover {
  background-color: white;
  box-shadow: 0 6px 6px -6px #0E1119;

}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;

  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {

  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.btn {
  background-color: #F5F5F7;
  border: 1px solid #1D1D1F;
  border-radius: 0px;
}

.btn .disabled {
  background-color: #F5F5F7;
  border: 1px solid #1D1D1F;
  border-radius: 0px;
  opacity: 100%;
}

.card.fade-out {
  opacity: 0;
}
