.firstBody {
    border-radius: 1rem;
    background-color: #F0F3F8;
    padding: 30px;
}

.myGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 100px;
}

.card {
    flex: 0 0 auto;
    margin: 10px;
    padding: 30px;
    width: fit-content;
}

.myTitle {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #000;
    padding: 8px;

}

.table-bordered th {
    background-color: #A7385D;
    color: #f9f9f9;
}

.table-bordered tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-bordered tbody tr:hover {
    background-color: #A7385D;
}

.subTitle {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}