@import url('https://fonts.cdnfonts.com/css/ibm-plex-mono-3');

body {
  font-family: 'IBM Plex Mono Medium', sans-serif;
  background-color: #F5F5F7;
  color: #1D1D1F;
}

.btn1 {
  background-color: #F5F5F7;
  color: #1D1D1F;
  border: 1px solid #1D1D1F;
  border-radius: 20px;
  transition: 0.5s;
  height: 40px;
  font-weight: 700;
}

.btn1:hover {
  background-color: #1D1D1F;
  color: #F5F5F7;
  border: 1px solid #F5F5F7;
}
