<body class="firstBody">

  <div class="myGrid">

    <!--My Courses-->
    <div class="card">
      <a class="myTitle">Add Assignemnt:</a>
      <hr>
      <form class="myForm" (ngSubmit)="onSubmit()" #registerForm="ngForm">


        <label for="validationServer02">Select a course:</label>
        <select id="validationServer02" [(ngModel)]="assignment.course_id" name="course_id" required>
          <option *ngFor="let course of teacherCourses" [value]="course.id">{{ course.name }}</option>
        </select>
        <br>

        <label for="validationServer01">Name</label>
        <input type="text" id="validationServer01" value="Mark" required="" [(ngModel)]="assignment.name" name="name">
        <br>



        <label for="validationServer02">Description</label>
        <input type="description" id="validationServer02" value="Otto" required="" [(ngModel)]="assignment.description"
          name="description">
        <br>



        <label for="validationServer02">Deadline</label>
        <input type="date" id="validationServer02" value="Otto" required="" [(ngModel)]="assignment.deadline"
          name="description">
        <br>

        <input class="form-control" type="file" id="formFile" (change)="choseFile($event)">
        <br>

        <button class="myButton" type="submit" (click)="addData()" style="border-radius: 1rem;">
          Add Assignment
        </button>
      </form>
    </div>
    <!--end-->



    <!--My Submissoins-->
    <div class="card">
      <a class="myTitle">Students Submissoins :</a>
      <hr>
      <div *ngFor="let submission of submissions; let i=index">
        <div class="cardInsideCardInsideCard">
          <a class="myTitle">{{ submission.submission_description }}</a>
          <hr>
          <p><strong>Description:</strong> {{ submission.submission_id }} </p>
          <p><strong>Student ID:</strong> {{ submission.submission_student_id }} </p>
          <p><strong>Link: </strong><button (click)="openWebPage(assignment.material_link)"
              class="myButton">Link</button>
          </p>
        </div>
      </div>
    </div>
    <!--end-->



  </div>
</body>