@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

nav-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  justify-content: center;
}

.menu-links-left-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0;


}

.menu-links-right-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0;

}

.menu-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(106, 104, 104, 0.15);

}

.menu-2 a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  transition: 0.2s all ease-in-out;
  color: #A41D30;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-2:hover a {
  opacity: 0.4;

}

.menu-2 a:hover {
  opacity: 1;
  background-color: #A41D30;
  color: white;
}

.menu-2-icon {
  display: none;
}

#menu-2-toggle {
  display: none;
}

#menu-2-toggle:checked~.menu {
  transform: scale(1, 1);
}

/*HEADER 1*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.register-course-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}



.dropdown-toggle {
  position: absolute;
  top: 0;
  right: 0;
  /* added to position the dropdown correctly */
}

.dropdown-toggle::after {
  content: "";
  display: none;
  /* removed to hide the arrow */
}

.dropdown-toggle:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  top: 90%;
  right: 0;
  z-index: 5;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-right: 0%;
  color: black;
  list-style: none;
}


.dropdown-toggle:hover .dropdown {
  display: block;
}


.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 500;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  justify-content: center;
}

.menu-links-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0;


}

.menu-links-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0;

}






.logo {
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  font-size: 14px;
  width: 10%;
  font-weight: bold;
  color: black;
  z-index: 1000;
}


.logo a span {
  color: #8739fa;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  transition: 0.2s all ease-in-out;
  color: #A41D30;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.menu:hover a {
  opacity: 0.4;

}

.menu a:hover {
  opacity: 1;
  background-color: #A41D30;
  color: white;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked~.menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background-color: white;
    align-items: start;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: black;
    font-size: 28px;
    cursor: pointer;
  }


  .dropdown-toggle {
    margin-right: 0;
    display: block;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown {
    top: auto;
    left: auto;
    margin: 0;
    box-shadow: none;
    padding: 0;
    background-color: transparent;
    padding-left: 100%;

  }

  .dropdown li {
    display: block;
    margin: 5px 0;
  }

  .dropdown-toggle:hover .dropdown {
    display: block;
    margin-left: 0;
  }

}
