<!DOCTYPE html>
<html lang="en" style="height: fit-content; ">




<!--START OF HEADER NAV-->


<header class="header">
  <nav>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <ul class="menu">
      <div class="menu-links-left">
        <li><a> Register Course</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Degrees</a></li>
        <li><a href="#">Projects</a></li>
      </div>
      <div class="logo">
        <img src="assets/logo.png" style="width: 100%;">
      </div>
      <div class="menu-links-right">
        <li><a> Register Course</a></li>
        <li><a href="#">Campus</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Connect</a></li>
      </div>


      <li class="dropdown-toggle">
        <a class="profile" href="#">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
            alt="Profile picture" style="width: 20px;">
        </a>
        <ul class="dropdown">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<!--HEADER 2-->
<header class="header2">
  <nav class="nav-2">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <ul class="menu-2">
      <div class="menu-links-left-2">
        <li><a> Register Course</a></li>
        <li><a href="#">Skills</a></li>
        <li><a href="#">Projects</a></li>
      </div>
      <div class="logo-2">

      </div>
      <div class="menu-links-right-2">
        <li><a> Register Course</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Connect</a></li>
      </div>




    </ul>
  </nav>
</header>

<!--END OF HEADER NAV-->

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

</html>

<body>
  <div class="register-course-container">

  </div>
</body>
