table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #f0f0f0;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody td {
    vertical-align: middle;
}

tbody td:first-child {
    font-weight: bold;
}

tbody td:not(:first-child) {
    font-style: italic;
}