<div class="myGrid" *ngIf="dataLoaded">

    <!--Add to timetable-->
    <div class="card">
        <a class="myTitle">Add custom event :</a>
        <hr>
        <form class="myForm" (ngSubmit)="submitForm(selectedDay, selectedTimeSlot, selectedCourse)" #myForm="ngForm">
            <label for="selectedCourse">Course:</label>
            <select [(ngModel)]="selectedCourse" id="selectedCourse" name="selectedCourse">
                <option *ngFor="let course of allCourses" [value]="course.name">
                    {{course.name}}</option>
            </select>
            <br>


            <label for="selectedDay">Day:</label>
            <select [(ngModel)]="selectedDay" id="selectedDay" name="selectedDay">
                <option *ngFor="let day of days" [value]="day">{{day}}</option>
            </select>
            <br>

            <label for="selectedTimeSlot">Time Slot:</label>
            <select [(ngModel)]="selectedTimeSlot" id="selectedTimeSlot" name="selectedTimeSlot">
                <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot"
                    [disabled]="disableOption(selectedDay, timeSlot)">
                    {{timeSlot}}
                </option>
            </select>


            <br>
            <br>


            <button class="myInput" type="submit" value="Submit"
                [disabled]="!selectedCourse || !selectedDay || !selectedTimeSlot">Submit</button>
        </form>
    </div>
    <!--End-->


    <div class="card">
        <a class="myTitle">Remove course from schedule :</a>
        <hr>
        <form class="myForm" (ngSubmit)="removeCourseFromSchedule(selectedDay, selectedTimeSlot)">
            <label for="selectedDay">Day:</label>
            <select [(ngModel)]="selectedDay" id="selectedDay" name="selectedDay">
                <option *ngFor="let day of days" [value]="day">{{day}}</option>
            </select>
            <br>

            <label for="selectedTimeSlot">Time Slot:</label>
            <select [(ngModel)]="selectedTimeSlot" id="selectedTimeSlot" name="selectedTimeSlot">
                <option *ngFor="let course of getScheduleCourses(selectedDay)" [value]="course.timeSlot">
                    {{course.title}}
                    {{course.timeSlot}}
                </option>
            </select>

            <br>
            <br>

            <button class="myInput" type="submit" value="Submit" [disabled]="!selectedDay || !selectedTimeSlot">Remove
                Course</button>
        </form>
    </div>



    <!-- Add to timetable -->
    <div class="card">
        <a class="myTitle">Autofill:</a>
        <hr>
        <br>
        <br>
        <button class="myInput" type="submit" value="Submit" (click)="callUpdate()">Autofill</button>
    </div>
    <!-- End -->


</div>