<div class="myGrid">

    <!--Add course to timetable-->
    <div class="card">
        <a class="myTitle">Add course to timetable : </a>
        <hr>
        <label for="selectedDay">Subject:</label>
        <br>
        <br>
        <select id="selectedDay" name="selectedDay" [(ngModel)]="selectedSubject" (change)="updateSelectBeenMade()">
            <option *ngFor="let subject of coursesList" [value]="subject" [disabled]="hasHoursAddTable(subject)">{{
                subject }}
            </option>
        </select>
        <br>
        <br>

        <button class="myButton" (click)="showable()">Show add table</button>
        <div *ngIf="showTimetable" style="padding:50px">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th *ngFor="let day of days">{{ day }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let timeSlot of timeSlots">
                        <td>{{ timeSlot }}</td>
                        <td *ngFor="let day of days">
                            <input class="myInput" type="checkbox" [disabled]="disableCheckboxForAddList(day, timeSlot)"
                                (change)="addToSchedule(day, timeSlot, $event)">
                            <span>{{ getCourseId(day, timeSlot) }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="myButton" (click)="saveSlots()">Save</button>
        </div>
    </div>
    <!--End-->







    <!--Delete course to timetable-->
    <div class="card">
        <a class="myTitle">Delete course from timetable :</a>
        <hr>
        <label for="selectedDay">Subject:</label>
        <br>
        <br>

        <select id="selectedDay" name="selectedDay" [(ngModel)]="selectedSubjectRemove"
            (change)="updateSelectBeenMadeRemove()">
            <option *ngFor="let subject of coursesList" [value]="subject">{{ subject }}
            </option>
        </select>
        <br>
        <br>

        <button class="myButton" (click)="showableRemove()">Show remove table</button>
        <div *ngIf="showTimetableRemove" style="padding:50px">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th *ngFor="let day of days">{{ day }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let timeSlot of timeSlots">
                        <td>{{ timeSlot }}</td>
                        <td *ngFor="let day of days">

                            <input class="myInput" type="checkbox"
                                [disabled]="disableCheckboxForRemoveList(day, timeSlot)"
                                (change)="addToScheduleRemove(day, timeSlot, $event)">
                            <span>{{ getCourseId(day, timeSlot) }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="myButton" (click)="saveSlotsRemove()">Save</button>
        </div>
    </div>
    <!--End-->











    <!--Add custom to timetable-->
    <div class="card">
        <a class="myTitle">Add custom event :</a>
        <hr>
        <form class="myForm"
            (ngSubmit)="submitForm(selectedDay, selectedTimeSlot, eventTitle.value, eventDescription.value)"
            #myForm="ngForm">
            <label for="selectedDay">Day:</label>
            <select [(ngModel)]="selectedDay" id="selectedDay" name="selectedDay" (change)="customEventChangeStatus()">
                <option *ngFor="let day of days" [value]="day">{{day}}</option>
            </select>
            <br>

            <label for="timeSlot">Time Slot:</label>
            <select [disabled]="isDaySelected()" [(ngModel)]="selectedTimeSlot" id="timeSlot" name="timeSlot"
                (change)="customEventChangeStatus()">
                <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot"
                    [disabled]="disableCheckboxForCustom(selectedDay, timeSlot)">
                    {{timeSlot}}
                </option>
            </select>
            <br>
            <label for="title">Event title:</label>
            <input class="myInput" type="text" id="title" name="title" [(ngModel)]="eventTitle" required>
            <br>
            <label for="description">Event Description:</label>
            <input class="myInput" type="text" id="description" name="description" [(ngModel)]="eventDescription"
                required>
            <br>
            <input class="myInput" type="submit" value="Submit" [disabled]="myForm.invalid">
        </form>
    </div>
    <!--End-->


    <!--AutoFill-->
    <div class="card">
        <a class="myTitle">Auto fill :</a>
        <hr>
        <label for="selectedDay">Day:</label>
        <br>
        <br>
        <select id="selectedDay" name="selectedDay" [(ngModel)]="selectedSubjectAutoFill">
            <option class="myFormInput" *ngFor="let subject of coursesList" [value]="subject"
                [disabled]="hasHoursAddTable(subject)">{{ subject }}</option>
        </select>
        <br>
        <br>
        <button class="myButton" (click)="autoComplete(selectedSubjectAutoFill)"
            style="margin-bottom: 10px;">AutoFill</button>
    </div>
    <!--End-->
</div>