.loading-image {
  background-color: #ddd;
  background-image: url('/assets/loading-spinner.gif');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center center;
}
