<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Navbar</title>
</head>

<body>
  <div class="app">
    <div class="menu-toggle">
      <div class="hamburger">
        <span></span>
      </div>
    </div>

    <aside class="sidebar">
      <div class="profile">
        <img type="image" src="{{profileImg}}" class="profile-image">
        <span class="svg-container">
          <img (click)="toggleComponent('Profile')" [class.active-link]="activeLink === 'Profile'"
            src="./assets/svg/settings.svg" alt="Courses" class="svg-icon-settings">
        </span>
        <p class="profileTitle">{{name}}</p>
        <p class="profileRole">{{role}}</p>
      </div>

      <nav class="menu">
        <a class="menu-item" (click)="toggleComponent('showAssignments')"
          [class.active-link]="activeLink === 'Assignments' ">
          <img src="./assets/svg/courses.svg" alt="Book Icon" style="max-width: 20px; margin-right: 10px;">
          <span>Assignments</span>
        </a>

        <hr class="myHr">
        <a class="menu-item" (click)="toggleComponent('showStudentCourses')"
          [class.active-link]="activeLink === 'My Courses' ">
          <img src="./assets/svg/edit.svg" alt="Register Icon" style="max-width: 20px; margin-right: 10px;">
          <span>My Courses</span>
        </a>

        <hr class="myHr">
        <a class="menu-item" (click)="toggleComponent('showAllAvailableCourses')"
          [class.active-link]="activeLink === 'Course Registeration' ">
          <img src="./assets/svg/todo.svg" alt="Assignment Icon" style="max-width: 20px; margin-right: 10px;">
          <span>Course Registeration</span>
        </a>


        <hr class="myHr">
        <a class="menu-item" (click)="toggleComponent('showStudentSchedule')"
          [class.active-link]="activeLink === 'Schedule' ">
          <img src="./assets/svg/todo.svg" alt="Assignment Icon" style="max-width: 20px; margin-right: 10px;">
          <span>Schedule</span>
        </a>

        <hr class="myHr">
        <a class="menu-item" (click)="toggleComponent('showFinancial')"
          [class.active-link]="activeLink === 'Financial' ">
          <img src="./assets/svg/todo.svg" alt="Assignment Icon" style="max-width: 20px; margin-right: 10px;">
          <span>Financial</span>
        </a>


        <hr class="myHr">
        <a class="menu-item-logout" (click)="logOut()">
          <img src="./assets/svg/logout.svg" alt="Logout Icon" style="max-width: 20px; margin-right: 10px;">
          <span>Logout</span>
        </a>

      </nav>


    </aside>

    <main class="content">


      <ng-container *ngIf="showAllAvailableCourses">
        <a class="title">Major: </a>{{major}}
        <br>
        <a class="title">Semester: </a>{{semester}}
        <br>
        <br>
        <app-student-register-for-course></app-student-register-for-course>
      </ng-container>

      <ng-container *ngIf="showAssignments">
        <a class="title">Major: </a>{{major}}
        <br>
        <a class="title">Semester: </a>{{semester}}
        <br>
        <br>
        <app-studentassignment></app-studentassignment>
      </ng-container>

      <ng-container *ngIf="showFinancial">
        <a class="title">Major: </a>{{major}}
        <br>
        <a class="title">Semester: </a>{{semester}}
        <br>
        <br>
        <app-financial></app-financial>
      </ng-container>

      <ng-container *ngIf="showProfile">
        <a class="title">Major: </a>{{major}}
        <br>
        <a class="title">Semester: </a>{{semester}}
        <br>
        <br>
        <app-profile></app-profile>
      </ng-container>

      <ng-container *ngIf="showStudentCourses">
        <a class="title">Major: </a>{{major}}
        <br>
        <a class="title">Semester: </a>{{semester}}
        <br>
        <br>
        <app-studentcourses></app-studentcourses>
      </ng-container>

      <ng-container *ngIf="showStudentSchedule">
        <a class="title">Major: </a>{{major}}
        <br>
        <a class="title">Semester: </a>{{semester}}
        <br>
        <br>
        <app-studentschedule></app-studentschedule>
      </ng-container>


    </main>
  </div>

</body>

</html>