<header class="myHeader" style="z-index: 1000;">
  <ul>

    <li>
      <a style="margin-left: 5px;" (click)="toggleComponent('Login')">Login</a>
    </li>

    <li>
      <a style="margin-left: 10px; " (click)="toggleComponent('Register')">Register</a>
    </li>

    <li>
      <a style="margin-left: 10px; " (click)="toggleComponent('Forgot password')">Forgot password</a>
    </li>

  </ul>
</header>

<body class="firstBody">
  <div class="myGrid">

    <!--Login Cards-->
    <div class="card" *ngIf="showLogin">
      <a class="myTitle">Login :</a>
      <br>
      <br>
      <form (ngSubmit)="loginOnSubmit()" class="myForm" #loginForm="ngForm">

        <label class="myTitle">Email :</label>
        <input type="text" required [(ngModel)]="loginRequest.email" name="email">
        <br>
        <label class="myTitle">Password :</label>
        <input type="password" required [(ngModel)]="loginRequest.password" name="password">
        <br>

        <button [disabled]="!loginForm.form.valid" type="submit">Login</button>
      </form>
    </div>
    <!--end-->

    <!--Register Cards-->
    <div class="card" *ngIf="showRegister">
      <a class="myTitle">Register :</a>
      <br>
      <br>
      <form (ngSubmit)="loginOnSubmit()" class="myForm" #registerForm="ngForm">

        <label class="myTitle">First Name :</label>
        <input type="text" required [(ngModel)]="registerRequest.firstname" name="First Name">
        <br>
        <label class="myTitle">Last Name :</label>
        <input type="text" required [(ngModel)]="registerRequest.lastname" name="Last Name">
        <br>
        <label class="myTitle">Date :</label>
        <input type="date" required [(ngModel)]="registerRequest.birthday" name="Date">
        <br>
        <label class="myTitle">Email :</label>
        <input type="text" required [(ngModel)]="registerRequest.email" name="Email">
        <br>
        <label class="myTitle">Password :</label>
        <input type="password" required [(ngModel)]="registerRequest.password" name="Password">
        <br>

        <label class="myTitle">Category :</label>
        <select [(ngModel)]="registerRequest.major" name="Major">
          <option *ngFor="let major of majors" [value]="major">{{major.majorName}}</option>
        </select>
        <br>

        <button [disabled]="!registerForm.form.valid" type="submit">Register</button>
      </form>
    </div>
    <!--end-->


    <!--Forgot Password (Verify email)-->
    <div *ngIf="showForgotPassword">
      <div class="card" *ngIf="showForgotPasswordEmailCard">
        <a class="myTitle">Forgot password - Verify Email:</a>
        <br>
        <br>
        <form (ngSubmit)="forgotPasswordEmailOnSubmit()" class="myForm" #forgotPasswordEmailForm="ngForm">

          <label class="myTitle">Email :</label>
          <input type="text" required [(ngModel)]="forgotPasswordEmail" name="forgotPasswordEmail">
          <br>

          <button [disabled]="!forgotPasswordEmailForm.form.valid" type="submit">Verify email</button>
        </form>
      </div>
      <!--end-->

      <!--Forgot Password(Verify birthdate)-->
      <div class="card" *ngIf="showForgotPasswordBirthdate">
        <a class="myTitle">Verify birthdate :</a>
        <br>
        <br>
        <form (ngSubmit)="forgotPasswordBirthdateOnSubmit()" class="myForm" #forgotPasswordBirthdateForm="ngForm">

          <label class="myTitle">Birthdate :</label>
          <input type="date" required [(ngModel)]="forgotPasswordBirthdate" name="forgotPasswordBirthdate">
          <br>

          <button [disabled]="!forgotPasswordBirthdateForm.form.valid" type="submit">Verify birthdate</button>
        </form>
      </div>
      <!--end-->

      <!--Forgot Password(Change password)-->
      <div class="card" *ngIf="showForgotPasswordPassword">
        <a class="myTitle">Change password :</a>
        <br>
        <br>
        <form (ngSubmit)="forgotPasswordBirthdateOnSubmit()" class="myForm" #forgotPasswordPasswordForm="ngForm">

          <label class="myTitle">New password :</label>
          <input type="password" required [(ngModel)]="forgotPasswordPassword" name="forgotPasswordPassword">
          <br>

          <button [disabled]="!forgotPasswordPasswordForm.form.valid" type="submit">Change password</button>
        </form>
      </div>
    </div>
    <!--end-->


  </div>
</body>