.myHeader {
  background-color: #1D1D1F;
  border-radius: 1rem;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: fit-content;
  margin-bottom: 50px;

}




ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  font-size: 18px;
  font-weight: 700;
  transform: scale(1);
  transition: 300ms;
  color: white;
  background-color: #1D1D1F;
  padding: 5px;
  margin: 5px;
  border-radius: 1rem;
  list-style: none;
}

ul li:hover {

  transform: scale(1.1);
  font-size: 20px;
  font-weight: 700;
  color: #7AA3E5;
}

.headers {
  flex-wrap: nowrap;
  text-align: center;

}