<form class="form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
  <p class="title">Register Course</p>
  <p class="message">Signup now and get full access to our app.</p>
  <div class="flex">
  </div>
  <label>
    <input required placeholder="" type="text" class="input" [(ngModel)]="course.name">
    <span>Course Name</span>
  </label>

  <label>
    <input required placeholder="" type="text" class="input" [(ngModel)]="course.teacher">
    <span>Teacher Name</span>
  </label>


  <label>
    <input class="input" id="description" rows="3" required [(ngModel)]="course.description">
    <span>Course Description</span>
  </label>


  <label>
    <input required placeholder="" type="text" class="input" [(ngModel)]="course.duration">
    <span>Duration</span>
  </label>

  <label>
    <input required placeholder="" type="text" class="input" [(ngModel)]="course.credits">
    <span>Credits</span>
  </label>

  <label>
    <input required placeholder="" type="text" class="input" [(ngModel)]="course.capacity">
    <span>Capacity</span>
  </label>

  <button type="submit" class="submit">Submit</button>
</form>