<div class="myGrid">
  <!--Register a new course-->
  <div class="card">
    <a class="myTitle">Register a new course :</a>
    <hr>
    <form class="myForm" (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <label for="validationServer01">Name</label>
      <input class="myInput" type="text" id="validationServer01" value="Mark" required="" [(ngModel)]="course.name"
        name="name">
      <br>
      <label for="validationServer02">Credits</label>
      <input class="myInput" type="number" id="validationServer02" value="Otto" required="" [(ngModel)]="course.credits"
        name="credits" max="5" oninput="checkSemesterHours(this)" onkeydown="return false" min="1">
      <br>
      <label for="validationServer02">Description</label>
      <input class="myInput" type="text" id="validationServer02" value="Otto" required=""
        [(ngModel)]="course.description" name="description">
      <br>
      <label for="validationServer02">semester Hours</label>
      <input class="myInput" type="number" id="validationServer02" value="Otto" required=""
        [(ngModel)]="course.semesterHours" name="semesterHours" max="5" oninput="checkSemesterHours(this)"
        onkeydown="return false" min="1">
      <br>
      <label for="validationServer02">Semester</label>
      <input class="myInput" type="semester" id="validationServer02" disabled="" [value]="semester">
      <br>
      <label for="validationServer02">Major</label>
      <input class="myInput" type="major" id="validationServer02" disabled="" [value]="major">
      <br>
      <button class="myButton" type="submit" [disabled]="!registerForm.form.valid" style="">Add
        Course</button>
    </form>
  </div>
  <!--End-->

  <!--Edit Course-->
</div>