<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <title>Bootstrap Example</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body class="p-3 m-0 border-0 bd-example" style="background-color: #F5F5F7;">
  <!-- Example Code -->
  <div class="d-flex justify-content-center align-items-center"
    style="background-color: #1D1D1F; border: 0px solid black;">
    <div class="card position-relative" style="background-color: #1D1D1F; border: 0px solid black;">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" style="background-color: #1D1D1F;"
        role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width=" 100%" height="100%" fill="#1D1D1F"></rect>
        <text x="50%" y="50%" fill="#fff" dy=".3em">Welcome {{name | titlecase}} to your profile</text>
      </svg>
      <div class="card-body ">
        <h4> </h4>
        <!-- End Example Code -->
        <div class="card mb-3"
          style="max-width: 1000px; background-color: #1D1D1F; border: 1px solid #F5F5F7; padding: 10px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{image}}" class="img-fluid rounded-start" alt="..." style="max-width: 70%;">
              <div class="input-group">
                <input class="form-control" type="file" id="formFile" (change)="choseFile($event)">
                <button style=" background-color: #F5F5F7;color: #1D1D1F;"
                  style=" background-color: #F5F5F7;color: #1D1D1F;" class="btn" type="submit" (click)="addData()">
                  Upload
                </button>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <form #updateEmailForm="ngForm" (submit)="updateProfileEmail(updateEmailForm2.value, email, id)">
                  <div class="container">
                    <div class="form-group">
                      <label for="email" style="color: #F5F5F7;">Email:</label>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{ email }}" name="email" ngModel
                          #emailInput="ngModel" id="email">
                        <input type="hidden" name="originalEmail" value={{email}} ngModel #originalEmailInput="ngModel">
                        <div class="input-group-append">
                          <button style=" background-color: #F5F5F7;color: #1D1D1F;" class="btn" type="submit"
                            [disabled]="!isValidEmail({email: emailInput.value, originalEmail: email})">
                            Update
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>




                <form #updateEmailForm2="ngForm"
                  (submit)="updateProfileFirstname(updateEmailForm2.value, firstname, id)">
                  <div class="container">
                    <div class="form-group">
                      <label for="email" style="color: #F5F5F7;">Firstname:</label>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="{{ firstname }}" name="email" ngModel
                          #emailInput="ngModel" id="email">
                        <input type="hidden" name="originalEmail" value={{firstname}} ngModel
                          #originalEmailInput="ngModel">
                        <div class="input-group-append">
                          <button style=" background-color: #F5F5F7;color: #1D1D1F;" class="btn" type="submit"
                            [disabled]="!isValidFirstname(firstname ,updateEmailForm2.value)">
                            Update
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>


                <form #updateEmailForm3="ngForm" (submit)="updateProfileLastname(updateEmailForm3.value, lastname, id)">
                  <div class="container">
                    <div class="form-group ">
                      <label for="email" style="color: #F5F5F7;">Lastname:</label>
                      <div class="input-group ">
                        <input type="text" class="form-control " placeholder="{{ lastname }}" name="email" ngModel
                          #emailInput="ngModel" id="email">
                        <input type="hidden" name="originalEmail" value="lastname" ngModel
                          #originalEmailInput="ngModel">
                        <div class="input-group-append">
                          <button style=" background-color: #F5F5F7;color: #1D1D1F;" class="btn" type="submit"
                            [disabled]="!isValidLastname(lastname ,updateEmailForm3.value)">
                            Update
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>



                <form #updateEmailForm4="ngForm" (submit)="updateProfilePassword(updateEmailForm4.value, password, id)">
                  <div class="container">
                    <div class="form-group ">
                      <label for="password" style="color: #F5F5F7;">Password:</label>
                      <div class="input-group ">
                        <input type="password" class="form-control " placeholder="{{ password }}" name="password"
                          ngModel #passwordInput="ngModel" id="password">
                        <input type="hidden" name="originalPassword" [value]="password" ngModel
                          #originalPasswordInput="ngModel">
                        <div class="input-group-append">
                          <button style=" background-color: #F5F5F7;color: #1D1D1F;" class="btn" type="submit"
                            [disabled]="!isValidPassword(updateEmailForm4.value)">
                            Update
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>



                <form #updateEmailFor="ngForm">
                  <div class="container">
                    <div class="form-group ">
                      <label for="role" style="color: #F5F5F7;">Role:</label>
                      <div class="input-group ">
                        <input type="password" class="form-control " placeholder="{{ role }}" id="role" disabled>

                        <div class="input-group-append">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</html>
