<body class="firstBody">

  <div class="myGrid">

    <!--My Courses-->
    <div class="card">
      <a class="myTitle">Schedule:</a>
      <br>
      <br>
      <table>
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let day of days">{{ day }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeSlot of timeSlots">
            <td>{{ timeSlot }}</td>
            <td *ngFor="let day of days">
              <div>
                <span [ngClass]="{'eventColor': getCourseId(day, timeSlot).includes('Event')}">
                  <a>{{getCourseId(day, timeSlot) }}</a>
                  <br>
                  <a>{{getRoom(day, timeSlot)}}</a>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--end-->



  </div>
</body>