table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}

th {
    background-color: #c1cbde;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody td {
    vertical-align: middle;
}

tbody td:first-child {
    font-weight: bold;
}

tbody td:not(:first-child) {
    font-style: italic;
}

/**/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    padding: 5px;
    margin: 5px;
    border-radius: 1rem;
    background-color: #c1cbde;
}

.myBody {
    background-color: #fff;
    height: fit-content;
    border-radius: 1rem;
    max-width: fit-content;
}

.editSchedule {
    border-radius: 1rem;
    background-color: rgb(32, 138, 32);
    color: white;
    border: 1px solid green;
    pointer-events: auto;
    padding: 10px;
    font-weight: 700;
    margin-left: 50px;
    transform: scale(1);
    transition-duration: 0.2s;
}

.editSchedule:hover {
    transform: scale(1.1);
    background-color: rgb(32, 138, 32);
    color: white;
    border: 1px solid green;
}



.pickLabel {
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.selector {
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.headers {
    flex-wrap: nowrap;
    text-align: center;

}

.editScheduleRemove {
    border-radius: 1rem;
    background-color: rgb(192, 0, 0);
    color: white;
    border: 1px solid red;
    pointer-events: auto;
    padding: 10px;
    font-weight: 700;
    margin-left: 50px;
    transform: scale(1);
    transition-duration: 0.2s;

}

.editScheduleRemove:hover {
    transform: scale(1.1);
    background-color: rgb(192, 0, 0);
    color: white;
    border: 1px solid red;
}






.myForm {
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid white;
    padding: 20px;
    max-width: fit-content;
    max-height: fit-content;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}


.myFormLabel {
    font-weight: 700;
    font-size: 18px;
    padding-right: 10px;
    color: #787878;

}

.myFormInput {
    background-color: #f0f3f9;
    border: 1px solid black;
    max-height: 30vh;
}


.myFormButton {
    border-radius: 1rem;
    background-color: rgb(32, 138, 32);
    color: white;
    border: 1px solid green;
    pointer-events: auto;
    padding: 10px;
    font-weight: 700;
    margin-left: 50px;
    width: 200px;
    transform: scale(1);
    transition-duration: 0.2s;
}

.myFormButton:hover {
    transform: scale(1.1);
    background-color: rgb(32, 138, 32);
    color: white;
    border: 1px solid green;
}

.componentGrid {
    max-height: fit-content;
    width: 100%;
    padding-right: 30px;
    flex-wrap: wrap;
    display: flex;
}

.componentGrid .myBody {
    margin-left: 30px;
    margin-bottom: 30px;

}


.select-wrapper {
    display: inline-block;
}

.editSchedule {
    display: block;
    margin-top: 10px;
}

.editScheduleRemove {
    display: block;
    margin-top: 10px;
}


.myCardBody {
    padding: 30px;
    max-width: fit-content;
}

.myCardTitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    max-width: 100%;
    padding: 10px;
    color: white;
    background: linear-gradient(to right, #6929b3, #353535);
}

td div {
    color: #6929b3;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #C1CBDE;
    padding: 0;
    margin: 0;
}

.eventColor {
    color: green;
}