<body class="firstBody" *ngIf="dataLoaded">

  <div class="myGrid">

    <!--My Courses-->
    <div class="card">
      <a class="myTitle">Schedule:</a>
      <br>
      <br>
      <table>
        <thead>
          <tr>
            <th></th>
            <th style="color: white;" *ngFor="let day of days">{{ day }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let timeSlot of timeSlots">
            <td style="background-color: #A6385D; color: white;">{{ timeSlot }}</td>
            <td *ngFor="let day of days">
              <div>
                <span class="infoBlock">
                  <a class="myTitle">{{getCourseId(day, timeSlot) }}</a>
                  <br>
                  <a>{{getRoom(day, timeSlot)}}</a>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--end-->



  </div>
</body>