/*CARD AND BODIES (ENDS  AT 48)*/
.firstBody {
  border-radius: 1rem;
  background-color: #F0F3F7;
  padding: 30px;
  height: fit-content;
}

.myGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 100px;
}

.card {
  flex: 0 0 auto;
  margin: 10px;
  padding: 30px;
  width: fit-content;
  border-radius: 1rem;
  background-color: white;
  width: 80%;
}

.cardInsideCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, max-content));
  grid-gap: 10px;
  justify-content: start;
  border-radius: 1rem;
  background-color: white;
  width: 100%;
}




.cardInsideCardInsideCard {
  border-radius: 1rem;
  background-color: #F0F3F7;
  padding: 30px;
  margin: 10px;
  flex: 1 0 300px;
}

/*END CARDS AND BODIE (STARTS  AT 1)*/

/*TABLE (ENDS  AT 74)*/
.table {
  width: 100%;
  border-collapse: collapse;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #000;
  padding: 8px;

}

.table-bordered th {
  background-color: #A7385D;
  color: #f9f9f9;
}

.table-bordered tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table-bordered tbody tr:hover {
  background-color: #A7385D;
}

/*END TABLE (STARTS  AT 50)*/

/*FORM (ENDS  AT 120)*/
form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
select {
  width: 100%;
  padding: 5px;
  border-radius: 1rem;
  border: 1px solid #ccc;
}

.myInput {
  width: 100%;
  padding: 5px;
  border-radius: 1rem;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #286090;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #286090;
}

/*END FORM (STARTS  AT 78)*/

/*TEXTS (ENDS  AT 135)*/
.myTitle {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.subTitle {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}

/*END TEXTS (STARTS  AT 122)*/

/*BUTTONS (STARTS  AT 189)*/
.dangerButton {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.dangerButton:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.myButton {
  padding: 10px 20px;
  background-color: #286090;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.myButton:hover {
  background-color: #286090;
}

.deleteButton {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  user-select: none;
}

/*END BUTTONS (STARTS  AT 137)*/

/*SIDEBAR AND DASHBOARD (ENDS ON 475)*/
@import url('https://fonts.cdnfonts.com/css/ibm-plex-mono-3');

body {
  font-family: 'IBM Plex Mono Medium', sans-serif;
  background-color: #F5F5F7;
  color: #1D1D1F;
  max-height: fit-content;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.app {
  display: flex;
  min-height: 100vh;

}



.menu-toggle {
  display: none;
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background-color: #2e3047;
  cursor: pointer;

}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger>span,
.hamburger>span::before,
.hamburger>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger>span::before {
  content: '';
  top: -8px;
}

.hamburger>span::after {
  content: '';
  top: 8px;
}

.menu-toggle.is-active .hamburger>span {
  transform: rotate(45deg);
}

.menu-toggle.is-active .hamburger>span::before {
  top: 0;
  transform: rotate(0deg);
}

.menu-toggle.is-active .hamburger>span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
  flex: 1 1 0;
  max-width: 300px;
  padding: 2rem 2rem;
  background-color: #2e3047;
  border-radius: 1rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  position: sticky;
  top: 0;

}


.sidebar h3 {
  color: #707793;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.sidebar .menu {
  margin: 0 -1rem;
  position: sticky;
  top: 0;
}

.sidebar .menu .menu-item {
  display: block;
  padding: 1em;
  color: #000000;
  text-decoration: none;
  transition: 0.2s linear;
  font-weight: 700;

  background-color: #fff;
  border-radius: 1rem;

}

.myHr {
  background-color: white;
  color: white;
  border: 1px solid white;
}




.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.active-link {
  background-color: #F0F3FA;
  border-radius: 1rem;
}

.sidebar .menu .menu-item:active,
.sidebar .menu .menu-item.active-link:active {
  background-color: #F0F3FA;
  border-radius: 1rem;
}




.content {
  flex: 1 1 0;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #F0F3FA;

}

.content h1 {
  color: #3C3F58;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  color: #707793;
}

@media (max-width: 1024px) {
  .sidebar {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .content {
    padding-top: 8rem;


  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    transition: 0.2s linear;
  }

  .sidebar.is-active {
    left: 0;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: sticky;
  top: 0;
}

.profile-image {
  max-width: 100px;
  border-radius: 1rem;
}

.profileTitle {
  font-size: 18px;
  color: black;
  font-weight: 700;
}

.profileRole {
  font-size: 15px;
  color: black;
  font-weight: 400;
  padding-bottom: 50px;
}


/*logout*/
.sidebar .menu .menu-item-logout {
  display: block;
  padding: 1em;
  color: #000000;
  text-decoration: none;
  transition: 0.2s linear;
  font-weight: 700;
  background-color: #ff00006f;

  border-radius: 1rem;
}

.sidebar .menu .menu-item-logout:hover,
.sidebar .menu .menu-item-logout.active-link {
  background-color: #ff00006f;
  border-radius: 1rem;
}

.sidebar .menu .menu-item-logout:active,
.sidebar .menu .menu-item-logout.active-link:active {
  background-color: #F0F3FA;
  border-radius: 1rem;
}

.profile {
  position: relative;
}

.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
}

.svg-icon {
  width: 24px;
  /* Adjust the width and height as needed */
  height: 24px;
  /* Additional styling for the SVG if desired */
}

.svg-icon-settings {
  width: 24px;
  /* Adjust the width and height as needed */
  height: 24px;
  rotate: 0deg;
}

.svg-icon-settings:hover {
  rotate: 90deg;
  transition: 0.2s linear;

}

/*END SIDEBAR AND DASHBOARD (STARTS  AT 192)*/