/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

@import url('https://fonts.cdnfonts.com/css/ibm-plex-mono-3');

body {
  font-family: 'IBM Plex Mono Medium', sans-serif;
  background-color: #F5F5F7;
  color: #1D1D1F;
  padding: 0;
  margin: 0;

}

.btn1 {
  background-color: #F5F5F7;
  color: #1D1D1F;
  border: 1px solid #1D1D1F;
  border-radius: 20px;
  transition: 0.5s;
  height: 40px;
  font-weight: 700;
}

.btn1:hover {
  background-color: #1D1D1F;
  color: #F5F5F7;
  border: 1px solid #F5F5F7;
}


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~flowbite/dist/css/flowbite.min.css';


/*START OF FORMS*/
.button {
  background-color: #A41D30;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid #a51c30;
  width: 100%;
  max-height: 50px;
  /* set max-height to an appropriate pixel value */
  /* set height to an appropriate pixel value */
  border-radius: 7px;
  outline: none;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  /* add transition property for smooth animation */
  text-transform: uppercase;
}


.button:hover {
  transform: scale(1.03);
  /* increase the scale to 1.1 to make the button grow on hover */
  color: white;
  background-color: #c4961a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid #c4961a;

}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #a41d30;
}

.subtitle {
  font-size: .725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: #000;
}

.form_container {
  max-width: 30%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 40px 20px 40px;
  background-color: #ffffff;
  box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
    0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
    0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  font-family: "Inter", sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  /* set height to 100% viewport height */
}

.form_container .link_container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  text-decoration: none;
  text-underline-offset: 5px;
}

.logo_container {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  display: flex;
  /* make container a flex container */
  justify-content: center;
  /* center horizontally */
  align-items: center;
  /* center vertically */
  filter: drop-shadow(0px 0.5px 0.5px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  border-radius: 11px;
}


.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  color: #A41D30;
}

.subtitle {
  font-size: 0.725rem;
  max-width: 80%;
  text-align: center;
  line-height: 1.1rem;
  color: black;
}

.input_container {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.icon {
  width: 20px;
  position: absolute;
  z-index: 99;
  left: 12px;
  bottom: 9px;
}

.input_label {
  font-size: 0.75rem;
  color: black;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 40px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: black;
}

.separator .line {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: black;
}

.note {
  font-size: 0.75rem;
  color: #8b8e98;
  text-decoration: underline;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*END OF FORMS*/
/* Define the fade-in animation */
.title {
  color: black;
  font-family: 700;
  text-decoration: none;
  font-size: 18px;
}

.subTitle {
  color: black;
  font-family: 700;
  text-decoration: none;
  font-size: 18px;
}