<body class="firstBody">

  <div class="myGrid">

    <!--Assignemnts Cards-->
    <div class="card">
      <a class="myTitle">Submit Assignment :</a>
      <br>
      <br>
      <form (ngSubmit)="onSubmit(submission.submission_assignment_id)" #registerForm="ngForm">
        <label>Description</label>
        <input type="text" id="validationServer02" required="" [(ngModel)]="submission.submission_description"
          name="description">
        <label>Select an assignment:</label>
        <select id="validationServer02" [(ngModel)]="submission.submission_assignment_id" name="course_id" required>
          <option *ngFor="let assignment of assignments" [value]="assignment.assignment_id">{{ assignment.name }}
          </option>
        </select>
        <br>
        <input type="file" id="formFile" (change)="choseFile($event)">
        <br>
        <button type="submit" (click)="addData()">Add Assignment</button>
      </form>

    </div>
    <!--end-->


    <!--Submissions card-->
    <div class="card">
      <a class="myTitle">My Submissions :</a>
      <br>
      <div *ngFor="let submissions of mySubmissions; let i=index">
        <div class="cardInsideCardInsideCard">
          <a class="myTitle">{{ submissions.submission_id }}</a>
          <p><strong>Description:</strong>
            {{ submissions.submission_description }}</p>

          <button (click)="deleteSubmission()" type="button" class="dangerButton" title="delete user from course"><svg
              width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2_3)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M7.35001 15.7143H9.45V8.09524H7.35001V15.7143ZM11.55 15.7143H13.65V8.09524H11.55V15.7143ZM5.25 17.619H15.75V6.19048H5.25V17.619ZM7.35001 4.28571H13.65V2.38095H7.35001V4.28571ZM15.75 4.28571V0.476191H5.25V4.28571H0V6.19048H3.15V19.5238H17.85V6.19048H21V4.28571H15.75Z"
                  fill="black" />
              </g>
              <defs>
                <clipPath id="clip0_2_3">
                  <rect width="21" height="20" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>

        </div>
      </div>
    </div>
    <!--end-->

    <!--Assignemnts Cards-->
    <div class="card">
      <div class="cardInsideCard">
        <a class="myTitle">Assignment:</a>
        <br>
        <div *ngFor="let assignment of assignments; let i=index" class="myForLoop">
          <div class="cardInsideCardInsideCard">
            <p><strong>Name: </strong> {{ assignment.name}}</p>
            <hr>
            <p><strong>Description: </strong> {{ assignment.description}}</p>
            <p><strong>DeadLine: </strong> {{ assignment.deadline }}</p>
            <p><strong>Course ID: </strong> {{ assignment.course_id }} </p>
            <p><strong>Material Link: </strong>
              <a (click)="openWebPage(assignment.material_link)"><button class="myButton">Link</button></a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--end-->

  </div>
</body>